.array-container{
    background-color: #120e28;
    height: 540px;
    padding-top: 38px;
}
.temp-bar{
    height: 500px;
    background-color:white;
    text-align: left;
    display: inline-block;
    margin: 0 0.8px;
    position: relative;
}
.bar {
    /* width: 30px; */
    text-align: left;
    /* background-color: blueviolet; */
    /* transition: 0s; */
    display: inline-block;
    margin: 0 0.8px;
    position: relative;
}

.number {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    margin-left: 2px;
}

@media (max-width: 600px) {
    .array-container{
        height: 390px;
    }
    .temp-bar {
        height: 350px;
    }
}