.tool-element {
    margin: 10px 0px;
}
.tool-button {
    outline: none;
    border: none;
    background: #29ffba;
    height: 40px;
    width: 100px;
    border-radius: 8px;
}

.tool-button:hover {
    background: #4cecb9;
    transition: 0.3s;
}
.tool-button:disabled {
  background: gray;
  color: rgb(165, 165, 165);
  transition: 0.3s;
}

.tool-array {
    margin-top: 10px;
}

.tool-sort{
    margin-top: 50px;
}

.tool-speed {
    margin-top: 60px;
    margin-bottom: 50px;
}

.tool-button:focus {
    outline: none;
}

.selector {
    width: 170px;
}
.selector:focus {
    outline: none;
}

.tool-tip-desktop {
  color: #ffffffa6;
  font-size: 13px;
}

.tool-tip-mobile {
  display: none;
}

.fa {
  margin-right: 5px;
  font-size: 15px;
}

@media (max-width: 600px) {
  .tool-container {
    padding: 10px 35px;
  }
  .tool-element {
    margin: 3px 0px;
  }
  .tool-array {
    float: left;
  }
  .tool-sort {
    float: left;
  }
  .tool-speed {
    margin-top: 10px;
  }
  .tool-sort-btn {
    margin-top: 20px;
    margin-left: 240px;
  }
  .tool-array-size {
    margin-left: 200px;
  }
  .tool-tip-desktop {
    display: none;
  }
  .tool-tip-mobile {
    display: block;
    color: #ffffffa6;
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .tool-container {
    padding: 10px 20px;
  }
  .tool-element {
    margin: 3px 0px;
  }
  .tool-speed {
    margin-top: 10px;
  }
  .tool-sort-btn {
    margin-top: 20px;
    margin-left: 210px;
  }
  .tool-array-size {
    margin-left: 190px;
  }
}


/* select */

/* RANGE */
input[type="range"] {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1;
    height: 2em;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    /* width: 100%; */
  }
  input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: gray;
  }
  input[type="range"]:disabled:hover::-webkit-slider-thumb {
    border-color: rgba(255, 255, 255, 0.5);
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]:hover:disabled {
    cursor: default;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    margin-top: 0;
    background-color: #29ffba;
    border-radius: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #10da9a;
  }
  input[type="range"]:disabled:hover::-webkit-slider-thumb {
    background-color: gray;
    cursor: default;
  }
  input[type="range"]::-moz-range-thumb {
    width: 2em;
    height: 2em;
    margin-top: 0;
    background-color: #29ffba;
    border-radius: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  input[type="range"]::-ms-thumb {
    width: 2em;
    height: 2em;
    margin-top: 0;
    background-color: #29ffba;
    border-radius: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  input[type="range"]:hover::-webkit-slider-thumb {
    border-color: rgba(255, 255, 255, 0.9);
  }
  input[type="range"]:hover::-moz-range-thumb {
    border-color: rgba(255, 255, 255, 0.7);
  }
  input[type="range"]:hover::-ms-thumb {
    border-color: rgba(255, 255, 255, 0.7);
  }
  input[type="range"]:active::-webkit-slider-thumb {
    border-color: #ffffff;
  }
  input[type="range"]:active::-moz-range-thumb {
    border-color: #ffffff;
  }
  input[type="range"]:active::-ms-thumb {
    border-color: #ffffff;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height: 1em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
  }
  input[type="range"]:disabled::-webkit-slider-runnable-track{
    cursor: default;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    height: 1em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
  }
  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }