.main {
    max-width: 1520px;
    overflow: hidden;
    margin: 0px 30px;
}
.toolbar {
    background: #5656569e;
    padding-top: 40px;
    text-align: center;
    padding-right: 0px !important;
}

.array-display {
    text-align: center;
    padding-left: 0px !important;
}

@media (max-width: 600px) {
    .toolbar {
        padding-top: 10px;
    }
    .main {
        margin: 0px 0px;
    }
    .array-display {
        padding: 0px !important;
    }
}