@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.head {
    text-align: center;
    margin-bottom: 40px;
}

.algo-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}

@media (max-width: 1500px) {
    .algo-text {
        font-size: 11px
    }
}


@media (max-width: 1350px) {
    .algo-text {
        font-size: 10px
    }
}

@media (max-width: 1200px) {
    .algo-text {
        font-size: 8px
    }
}


@media (max-width: 600px) {
    .head {
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .algo-text {
        margin-left: 10px;
    }
}